* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

main {
  text-align: center;
  margin-top: 3rem;
}

.todo-tracker {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  border: 1px solid black;
  border-radius: 8px;
  width: 500px;
  height: 200px;
  margin: 0 auto;
}

h2 {
  font-size: 36px;
}

.completed-subheading {
  text-align: left;
  padding-top: 5px;
  font-style: italic;
  font-size: 16px;
  letter-spacing: 1px;
}

.task-counter {
  background-color: aquamarine;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 32px;
}

.spacer {
  padding: 0 5px;
}

.task-form {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.task-input {
  width: 350px;
  height: 45px;
  padding-left: 8px;
  outline: none;
  border-radius: 30px;
  border: 1px solid #333;
  font-size: 18px;
}

.submit-btn {
  height: 45px;
  width: 45px;
  border: none;
  border-radius: 50%;
  background-color: aquamarine;
  cursor: pointer;
}

.task-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 2rem auto;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #333;
  padding: 1rem;
  width: 420px;
  height: 60px;
  border-radius: 8px;
}

.task-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 0.5rem;
}

.icon-btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.icon-btn .fa-circle-check {
  color: #3cb371;
}

.icon-btn .fa-trash {
  color: #b22222;
}

.clear-all-btn {
  margin-bottom: 3rem;
  width: 150px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #b22222;
  border: none;
  color: white;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 1rem;
  }

  .todo-tracker {
    column-gap: 1rem;
    width: 100%;
    height: auto;
    padding: 1rem;
  }

  .completed-subheading {
    text-align: center;
  }

  .task-input {
    width: 100%;
  }

  .task-item {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 30px;
  }

  .task-counter {
    font-size: 30px;
  }

  .spacer {
    padding: 0 3px;
  }
}
